
/*Barra de Navegación*/
nav ul a,
nav .brand-logo {
  color: pink;
}

.button-collapse {
  color: pink;
}

.logo{
  width:45%;
  height:45%;
}

.img{
  width: 20%;
  height: 20%;
}

.color{
  color: black;
}

i.material-icons {
    margin-right: 15px;
    padding-right: 0px;
    padding-left: 70px;

}

a.fondo{
  margin-right: 100px;
   padding-right: 50px;
}

/*Texto carrusel*/

.textcar{
 
  
  color: black;
  font-family: "Bitter";
  font-style: oblique;
  
 
}

/*Texto inicio*/
.introduccion{
    font-style: italic;
    color: #656565;
    font-size: 20px;
    font-family: "Bitter";
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    text-align: justify;
}

.normal {
    font-style: normal;
    font-size: 250%;
    font-family: "Monotype Modern W02 Ext It";
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}
.italic {
    font-style: italic;
    color: #656565;
    font-size: 300%;
    font-family: "Monotype Modern W02 Ext It";
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
  }


/*Indicadores del carrusel*/
.slider .indicators .indicator-item {
  background-color: #000;
  border: 5px solid #000;
  padding-top: 1px ;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: white;
}
.slider {
  width: 100%;
  margin: 0 auto;
}
.slider .indicators {
  bottom: 50px;
  z-index: 10;
}

/*hr es la etiqueta que hace rayitas*/
hr{
  border: 1px dashed #000; 
  height: 0; 
  width: 70%;
}


/*Links*/ 
a:link{   
 text-decoration:none;   /*Quitar linea de abajo*/
}   

/* Color de link no visitado*/
a:link {
    color: black;
}

/*Color de link visitado*/
a:visited {
    color: black;
}

/*Color del link al pasar el puntero*/
a:hover {
    color: #3E93FC;
}

/*Color del link al apretarlo*/
a:active {
    color: #;
}

/*Termian links*/

.logo{
  padding-left: 15%;
  padding-top: .5%;

}

/*Footer*/

.siguenos{
  text-align: center;
  color: #fff;
  font-size: 160%;
  font-family: 'Zeyada', cursive;
}

.contacto{
  text-align: center;
  color: #fff;
  font-family: "Bitter";
}


/*Barra de TT*/

.trendingnav{
    font-family: "VFSans", Helvetica;
    border-bottom: 3px solid #000;
    background-color: #fff;
    justify-content: center;
    margin: 0 auto;
    display: block;
    flex-wrap: nowrap;
    height: 98px;
    -webkit-box-pack: center;
    -webkit-mask-position: 0 0;
   
}

.trendingnav .trendings{
  height: 115px;
  margin-left: 3%;
  flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

}

.elemento{
  padding: 15px 15px 15px 0;
  }

.imagen{
  height: 60px;
}


/*@media para acomodar el logo, mientras se ajusta la ventana*/
@media screen and (max-width: 992px) and (min-width: 600px) {
  .logo{
    width: 70%;
    height: 60px;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
  .logo{
    padding-top: 5%;
    width: 100%;
    height: 55px;
  }
  .catego{
    list-style: none;
    text-align: right; 
    line-height: 200%; 
    padding-right: 15%;
    padding-top: 0%;
  }
  .normal {
    font-style: normal;
    font-size: 250%;
    font-family:  'Bitter';
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}
.italic {
    font-style: italic;
    color: #656565;
    font-size: 300%;
    font-family:  'Bitter';
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
  }
}

@media screen and (max-width: 400px) and (min-width: 0px) {
  .logo{
    padding-top: 5%;
    width: 150%;
    height: 55px;
  }
  .catego{
    list-style: none;
    text-align: right; 
    line-height: 200%; 
    padding-right: 15%;
    padding-top: 0%;
  }
  .normal {
    font-style: normal;
    font-size: 250%;
    font-family: "Bitter";
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}
.italic {
    font-style: italic;
    color: #656565;
    font-size: 300%;
    font-family: "Bitter";
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
  }
}




